.center-text {
    text-align: center;
}
.va-middle {
    vertical-align: middle;
}

.marg-bot {
    margin-bottom: @leading;
}
.marg-bot-half {
    margin-bottom: @leading / 2;
}
.marg-top {
    margin-bottom: 0;
    margin-top: @leading;
}

.figure.left {
    float: left;
    margin: @leading @leading / 2 0 0;
}
